.drawer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -999;

  &-overlay {
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: 17;
    opacity: 0.5;
    position: fixed;
  }

  .bottom_drawer {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    display: none;
    transition: 225ms;
    z-index: 18;
    @include responsive(600px) {
      display: block;
    }

    ul li {
      &:first-of-type {
        padding: 15px 15px;
        border-bottom: 1px solid #eaeaec;
        color: #3e4152;
        font-size: 14px;
        font-weight: 500;
      }
      p {
        margin-left: 20px;
        color: #3e4152;
        font-size: 14px;
        font-weight: 400;
      }
      .ripple {
        display: flex;
        padding: 15px;
        align-items: center;
        border-bottom: 1px solid #eaeaec;
        margin: 0 10px;
      }
    }
  }

  .drawer-hide {
    transform: translateY(100%);
  }
}
