.product_page {
  margin-top: 56px;
}

.products {
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px 40px;
  @include responsive(700px) {
    padding: 0;
    border-top: 1px solid #d4d5d9;
  }

  .loader-page {
    height: 100vh;

    .loader-container {
      box-shadow: 0px 0px 4px -2px;
      height: fit-content;
      padding: 5px;
      border-radius: 20px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;

      .loader {
        height: 20px;
        width: 20px;
        border: 2px solid #f16565;
        border-right-color: transparent;
        border-radius: 20px;
        animation: loading 0.8s linear 0s infinite;

        @keyframes loading {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }

  .product-card {
    margin-bottom: 40px;
    overflow: hidden;
    width: 210px;
    margin: 0 10px 30px 10px;
    @include responsive(700px) {
      flex: 0 1 50%;
      overflow: hidden;
      margin: 0;
    }

    &:nth-child(odd) {
      @include responsive(700px) {
        border-right: 0.5px solid #d4d5d9;
      }
    }

    .product-img {
      height: 280px;
      width: 210px;
      background: rgb(229, 241, 255);
      @include responsive(700px) {
        height: 225px;
        width: auto;
      }

      img {
        height: 100%;
        @include responsive(700px) {
          width: 100%;
          object-fit: cover;
          object-position: top;
        }
      }
    }

    .product-details {
      @include responsive(700px) {
        padding: 0 6px 20px 6px;
      }
      .product-brand {
        font-weight: 600;
        color: #282c3f;
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 15px;
        @include responsive(700px) {
          font-size: 13px;
          margin: 0;
          padding-top: 10px;
          padding-bottom: 5px;
        }
      }
      h4 {
        color: #535766;
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        opacity: 0.8;
        @include responsive(700px) {
          font-size: 12px;
        }
      }
    }
    .product-bottom-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #282c3f;
      .product-price {
        font-size: 14px;
        font-weight: 600;
      }
      .add {
        letter-spacing: 0.3px;
        font-weight: 500;
        border: 1px solid #d4d5d9;
        padding: 5px 15px;
        white-space: nowrap;
        cursor: pointer;
        font-size: 12px;
        margin-left: 3px;
        @include responsive(700px) {
          padding: 3px 3px;
          -webkit-tap-highlight-color: transparent;
        }

        &:hover {
          background-color: #000;
          color: #fff;
          @include responsive(700px) {
            background-color: #fff;
            color: #282c3f;
          }
        }
      }
    }
  }
}
